K = Top k highest score values ​​BM25 (we use "100")
LAW_PATH = Path to law data file (we use "data/example_law_data.json")
TOKEN_BERT_MODEL = Tokenizer name (we use "bert-base-multilingual-cased")
BERT_MODEL = Model name (we use "nguyenhoangtrungg/ALQAC-2023-mBert") 
API_KEY = OpenAI API Key ("sk-.............................")
